{% block sidebar %}
<style>
    .card {
        box-shadow: 0 16px 48px goldenrod;
    }

    body {
        font-family: "Times New Roman", Times, serif;
        font-size: 18px;
        background-color: greenyellow;
    }
</style>

<!-- Sidebar Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">About Us</h5>
        <div class="card-body">
            <p class="card-text"> Dedicated to giving you captivating info all in one click</p>
        </div>
    </div>
</div>

{% endblock sidebar %}